* {
	box-sizing: border-box;
}

*:link, *:visited {
	color: blue;
	text-decoration: none;
}

*:link:hover {
	color: green;
}

body {
    font-family: verdana, sans-serif;
    color: #000;
	padding: 0;
	width: 100%;
}

h1 {
	font-size: large;
}

h2 {
	font-size: medium;
}

.task-list-grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
}

.task {
	font-size: normal;
	font-weight: normal;
}